@import "bourbon";
@import "neat";
@import "font-awesome";


//cool colors
$goldColor : #F5C82D;

body {
  	background: $goldColor;

  .studentDatabase {
    width: 78%;
    margin-left: 15%;

    .addBtn {
      position: absolute;
      top: 2%;
      left: 78%;
      border: none;
      border-radius: 5px;
      padding: 10px;
      color: #fff;
      background: #000;
    }

    .images {
    	@include outer-container;
    	display: inline-block;
    	width: 22%;
      margin-bottom: 5%;

    img {
  		display: inline-block;
  		@include span-columns(11);
  		@include omega(1n);
  		border: 1px solid $goldColor;
  		border-radius: 30px;
    	}
    }
  }
}
